# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
.vs/
Debug/
Release/
x64/
test/Debug/
test/Release/
test/x64/
test/sample/hml/save/
test/sample/hwp30/save/
test/sample/hwp50/save/
test/sample/hwpx/save/
test/sample/txt/save/
filter/Debug/
filter/Release/
filter/x64/
xlnt/Debug/
xlnt/Release/
xlnt/x64/
uchardet/Debug/
uchardet/Release/
uchardet/x64/

#Visual Studio files
*.user
